* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #fbfdf6;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    row-gap: 50px;
}

#players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.player-tag {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    background-color: rgb(200, 211, 152);
    min-height: 400px;
    min-width: 400px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    background-color: #fbfdf6;
    color: #000
}
